<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>使用协议</title>
    <style>
        body {
        text-align: center;
        font-family: 'Noto Sans SC', sans-serif;
        margin: 0;
        padding: 0;
        margin: 0; padding: 0; overflow:  hidden;
        }
    </style>
</head>

<body>
    <h1>使用协议</h1>
    <p>
        使用本项目必须遵守以下协议
        1.禁止传播非法信息，如恐怖、暴力、涉黄等。
        2.禁止用任何手段破解本项目，如破解管理员密码、数据库密码、项目源代码。
        3.禁止用于任何违法事情，如聚众赌博等。
        4.使用该项目造成的任何损失和由用户承担。
        5.使用该项目造成的任何责任和由用户承担。
    </p>
</body>